* {
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #1f2535;
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botão {
  background-color: white;
  color: #1f2535;
  border-radius: 8px;
  padding: 12px;
  border: none;
  font-weight: bold;
}

.txt {
  margin-top: 40px;
  margin-bottom: 40px;
}

.txt > h1 {
  font-size: 80px;
  font-family: Helvetica, sans-serif;
  margin-bottom: 16px;
  width: 500px;
}

.txt > p {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  width: 400px;
}

.App {
  padding: 20px;
}

.flex {
  display: flex;
  padding: 80px;
  gap: 100px;
  padding: 80px;
  gap: 100px;
  justify-content: center;
}

.flex > div > p {
    width: 100px;
}


.flex > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}